* {
    box-sizing: border-box;
}

body {
    background: rgb(11, 3, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(255, 255, 255);
}

.container {
    width: 400px;
    border: 5px solid #fce570;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

h3 {
    display: inline-block;
    background: linear-gradient(#8a2387,
    #e94057,
    #f27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    margin-left: 20px;
}
.name > i {
    font-size: 20px;
    color: linear-gradient(#8a2387,
    #e94057,
    #f27121);
}

.degree {
    margin-top: 15px;
    font-size: 150px;
    text-align: center;
}

.celsius {
    margin-top: -10px;
    font-size: 50px;
}

.details {
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
    font-size: 18px;
}
