* {
    box-sizing: border-box;
}

body {
    background: rgb(11, 3, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(255, 255, 255);
}

.container {
    width: 400px;
    border: 5px solid #fce570;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    overflow: hidden;
}
